*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

body{
    background-color: #1b1b1b;
}

/* BACKGROUND */
.background-container{
    position: absolute;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 20%, transparent 70%), url("../img/Eventos/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    filter: brightness(70%);
    z-index: 0;
}

/* BARRA (TOP DE CONTACTOS) */
.header {
    position: fixed;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 4;
}

.top-bar {
    width: fit-content;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.top-bar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px 20px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.contact-info li,
.contact-info a {
    color: white;
    text-decoration: none;
}
.social-link {
    font-weight: bold;
    transition: 0.2s;
}

.social-link:hover{
    color: #ff3399;
}

/* TITULO (EVENTOS) */

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}


.logo-text {
    width: 50%;
    font-size: 9em;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
    color: #fff;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.events-title{
        animation: neon-letter 1s ease-in-out 0s infinite alternate;
}

@keyframes neon-letter {
    0% { text-shadow: 2px 2px 20px #ff3399;}
    100% { text-shadow: 1px 1px 2px #ff3399; }
}


/* CONTENIDO DE LOS EVENTOS (CONTENT CONTAINER) */

.content-container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.title-content-events{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-basis: auto ;
}

.title-content-events img{
    max-width: 70%;
    max-height: auto;
}

.gravity{
    filter: drop-shadow(0px 0px 10px rgb(14, 167, 255));
    animation: gravity 1s ease-in-out 0s infinite alternate;
}

@keyframes gravity {
    0% {transform: translateY(0)}
    100% {transform: translateY(-50px)}
}




/* CONTENIDO DE TORNEO (CARDS TORNEO) */
.content-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(323deg,rgba(0, 0, 0, 0.7) 0%, rgba(31, 31, 31, 1) 100%);
    transition: 0.7s;

}
.card:hover{
    width: 420px;
    height: 550px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(323deg,rgba(0, 0, 0, 0.7) 0%, rgba(31, 31, 31, 1) 100%);
    box-shadow: 10px 10px 4px #ff3399;
}

.imgcard{
    width: 100%;
    padding: 20px;
}

.title-card{
    text-align: center;
    font-weight: 500;
}



















