*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;;
}


body {
    background-color: #000000;
}
.background-container{
    position: absolute;
     background-image: linear-gradient(to top, rgba(0,0,0,1) 20%, transparent 70%), url("../img/Invitados/imagen_fondo.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 10;
}
.top-bar {
    width: fit-content;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.top-bar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px 20px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.contact-info li,
.contact-info a {
    color: white;
    text-decoration: none;
}
.social-link {
    font-weight: bold;
    transition: 0.2s;
}

.social-link:hover{
    color: #ff3399;
}

/* TITULO (EVENTOS) */

.title-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}


.logo-text {
    width: 800px;
    font-size: 7em;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
    color: #fff;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.events-title{
        animation: neon-letter 1s ease-in-out 0s infinite alternate;
}

@keyframes neon-letter {
    0% { text-shadow: 2px 2px 20px #ff3399;}
    100% { text-shadow: 1px 1px 2px #ff3399; }
}

.invitados-rubius{
display: flex;
justify-content: center;
align-items: center;
gap: 280px;
padding-top: 240px;
}
.invitados-rubius-texto {
flex-direction: column;
width: 410px;
text-align: justify;
transition: 1s;
}

.invitados-rubius-texto:hover{
    width: 450px;
    font-size: 20px;
    background-color: #1c1c1c;
    box-shadow: 10px 10px 4px #ff3399;
    padding: 20px;
}

.invitados-rubius-imagen{
    width: 550px;
    height: 430px;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 1s;
}
.invitados-rubius-imagen img{
    position: absolute; 
    bottom: 0;
}

.invitados-xocas{
display: flex;
justify-content: center;
align-items: center;
gap: 280px;
padding-top: 240px;
}
.invitados-xocas-texto {
flex-direction: column;
width: 410px;
text-align: justify;
transition: 1s;
}
.invitados-xocas-texto:hover{
    width: 450px;
    font-size: 20px;
    background-color: #1c1c1c;
    box-shadow: 10px 10px 4px #ff3399;
    padding: 20px;
}
.invitados-xocas-imagen{
    width: 520px;
    height: 440px;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 110px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.invitados-xocas-imagen img{
    position: absolute;
    bottom: 0;
    left: 60px;
}

.invitados-axozer{
display: flex;
justify-content: center;
align-items: center;
gap: 280px;
padding-top: 240px;
}
.invitados-axozer-texto {
flex-direction: column;
width: 410px;
text-align: justify;
transition: 1s;
}

.invitados-axozer-texto:hover{
    width: 450px;
    font-size: 20px;
    background-color: #1c1c1c;
    box-shadow: 10px 10px 4px #ff3399;
    padding: 20px;
}
.invitados-azoxer-imagen{
    width: 550px;
    height: 340px;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 110px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}


.invitados-axozer-imagen img{
    position: absolute;
    bottom: 0;
    left: 30px;
    padding-top: 240px;
}

.invitados-cristinini{
display: flex;
justify-content: center;
align-items: center;
gap: 280px;
padding-top: 240px;
}
.invitados-cristinini-texto {
flex-direction: column;
width: 410px;
text-align: justify;
transition: 1s;
}

.invitados-cristinini-texto:hover{
    width: 450px;
    font-size: 20px;
    background-color: #1c1c1c;
    box-shadow: 10px 10px 4px #ff3399;
    padding: 20px;
}

.invitados-cristinini-imagen{
    width: 550px;
    height: 340px;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 110px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.invitados-cristinini-imagen img{
    position: absolute;
    bottom: 0;
    right: 30px;
}

.invitados-menard{
display: flex;
justify-content: center;
align-items: center;
gap: 280px;
padding-top: 240px;
}

.invitados-menard-texto {
flex-direction: column;
width: 410px;
text-align: justify;
transition: 1s;
}

.invitados-menard-texto:hover{
    width: 450px;
    font-size: 20px;
    background-color: #1c1c1c;
    box-shadow: 10px 10px 4px #ff3399;
    padding: 20px;
}

.invitados-menard-imagen{
    width: 770px;
    height: 405px;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 110px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.invitados-menard-imagen img{
    position: absolute;
    bottom: 0;
    right: 50px;
}

.invitados-faker{
display: flex;
justify-content: center;
align-items: center;
gap: 280px;
padding-top: 240px;
}

.invitados-faker-texto {
flex-direction: column;
width: 410px;
text-align: justify;
transition: 1s;
}

.invitados-faker-texto:hover{
    width: 450px;
    font-size: 20px;
    background-color: #1c1c1c;
    box-shadow: 10px 10px 4px #ff3399;
    padding: 20px;
}

.invitados-faker-imagen{
    width: 630px;
    height: 405px;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 110px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.invitados-faker-imagen img{
    position: absolute;
    bottom: 0;
    
}





h1 {

    color: aliceblue;
}

h3 {
    color: aliceblue;

}

p{
    color: aliceblue;
    text-overflow: clip;
}