* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    overflow-x: hidden;
}

.top-bar {
    width: fit-content;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.top-bar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px 20px;
}

.background-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("/img/portada.png");
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.header {
    position: fixed;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 10;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.contact-info li,
.contact-info a {
    color: white;
    text-decoration: none;
}

.social-link {
    font-weight: bold;
    transition: 0.2s;
}

.social-link:hover {
    color: #ff3399;
}

.logo-text {
    width: 800px;
    font-size: 10em;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    position: relative;
    color: #fff;
    background-color: rgba(112, 112, 112, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 90px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.z-letter {
    color: #ff3399;
    transition: 0.5s;
    text-shadow: 0 0 10px #ff3399, 0 0 20px #45353d, 0 0 30px #d90f74,
        2px 2px 0;
}

.background-black {
    position: relative;
    bottom: 150px;
    background: linear-gradient(to bottom, transparent, black 30%);
}

.main {
    font-family: 'Montserrat', sans-serif;
}

.content-eventos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.image-box-eventos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 630px;
    height: 440px;
    background-color: rgba(39, 38, 38, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.text-content-eventos {
    width: 500px;
    text-align: justify;
}

.text-content-eventos h1 p {
    flex-direction: column;
}

.text-content-eventos i {
    border-radius: 100%;
    width: 20px;
}

.image-box-eventos img {
    width: 550px;
    border-radius: 100px;
}

.content-invitados {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 100px;
}

.text-content-invitados {
    width: 500px;
    padding-left: 100px;
    text-align: justify;
}

.images-content-invitados {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.image-box-invitados-xokas {

    justify-content: center;
    align-items: center;
    width: 280px;
    height: 300px;
    background-color: rgba(39, 38, 38, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.image-box-invitados-xokas img {
    position: absolute;
    bottom: 0px;
    width: 250px;
    border-radius: 100px;
}

.image-box-invitados-rubius-axozer {
    display: flex;
    flex-direction: column;

}

.image-box-invitados-rubius {
    position: relative;
    top: 70px;
    Justify-content: center;
    align-items: center;
    width: 390px;
    height: 280px;
    background-color: rgba(39, 38, 38, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.image-box-invitados-rubius img {
    position: absolute;
    bottom: 0px;
    width: 350px;
    border-radius: 90px;
}

.image-box-invitados-axozer {
    position: relative;
    Justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    bottom: 20px;
    background-color: rgba(39, 38, 38, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.image-box-invitados-axozer img {
    position: absolute;
    bottom: 0px;
    width: 350px;
    border-radius: 100px;
}
.content-estaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.content-box-estaciones {
    display: flex;
    width: 1400px;
    overflow-x: auto;
    /* activa el scroll horizontal */
    gap: 40px;
    /* espacio entre los cuadrados */
    scroll-behavior: smooth;
    /* desplazamiento suave */
    padding: 40px;
}

.content-estaciones-est1 {
    min-width: 150px;
    width: 400px;
    /* ancho fijo para cada cuadrado */
    height: 480px;
    background: #3498db;
    border-radius: 80px;
    flex-shrink: 0;
    /* evita que se encojan */
}
.content-estaciones-est2 {
    min-width: 150px;
    width: 400px;
    /* ancho fijo para cada cuadrado */
    height: 480px;
    background: #3498db;
    border-radius: 80px;
    flex-shrink: 0;
    /* evita que se encojan */
}
.content-estaciones-est3 {
    min-width: 150px;
    width: 400px;
    /* ancho fijo para cada cuadrado */
    height: 480px;
    background: #3498db;
    border-radius: 80px;
    flex-shrink: 0;
    /* evita que se encojan */
}
.content-estaciones-est4 {
    min-width: 150px;
    width: 400px;
    /* ancho fijo para cada cuadrado */
    height: 480px;
    background: #3498db;
    border-radius: 80px;
    flex-shrink: 0;
    /* evita que se encojan */
}

@keyframes change-letter {
    from {
        text-shadow: 0 0 20px #ff3399, 0 0 20px #45353d, 0 0 30px #d90f74,
            2px 2px 0 #ffffff63, -2px -2px 0 #000000;
    }

    to {
        text-shadow: #fff;
    }
}

.gamer-letter {
    animation: change-letter 2s linear 0s infinite alternate;
}

@keyframes change-letter {
    from {
        text-shadow: 0 0 20px #ff3399, 0 0 20px #45353d, 0 0 30px #d90f74,
            2px 2px 0 #ffffff63, -2px -2px 0 #000000;
    }

    to {
        text-shadow: #fff;
    }
}

.event-details {
    width: 500px;
    height: 70px;
    background-color: rgba(46, 46, 46, 0.4);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    line-height: 1.5;
}